// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    font-size: 1rem;
}

.w-20 {
    width: 20% !important;
}

.w-10 {
    width: 10% !important;
}

.w-40 {
    width: 40% !important;
}

.h-20 {
    height: 20% !important;
}

.h-12 {
    height: 12% !important;
}

.h-15 {
    height: 12% !important;
}

.bar-logo {
    background-color: $orange-trane;
}

.gradient-custom {
    background: linear-gradient(to left, $dark-blue-refriplay, $light-blue-refriplay);
}

.full {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-title {
    color: #333F4B;
    font-weight: bold;
    font-size: 35px;
}

.img-full {
    width: 100px;
    cursor: pointer;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa:before {
    content: '\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.img-open-modal {
    cursor: pointer;
}

.input-file {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.inherit {
    display: inherit;
    justify-content: space-around;
}

.text-silver {
    color: $text-silver;
}

@media only screen and (max-width: 480px) {
    #sectionMap {
        display: none !important;
    }
}

.results {
    border-top: 1px #d2d2d2 solid;
    padding-top: 50px;
}

.text-results {
    font-size: 27px;
    margin-bottom: 30px;
}

.text-results-1 {
    color: #333F4B
}

.base-container {
    overflow-x: hidden;
}

.fa-upload {
    font-size: 2rem;
}

.svg {
    height: auto;
    width: 100% //do elemento pai
}

.modal-message {
    height: 100%!important;
}